project:
  type: website
  output-dir: ../docs/dashboards

website:
  title: "dashboards"
  navbar:
    left:
      - href: dashboards/penguins.qmd
        text: Penguins
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

